{%- if menu != blank -%}
  <nav class="site-nav" aria-label="{{ menu.title }}">
    <ul role="list">
      {%- for link in menu.links -%}
        <li>
          <a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>
            {{ link.title }}
          </a>
          {%- if link.links.size > 0 -%}
            <ul role="list">
              {%- for child_link in link.links -%}
                <li><a href="{{ child_link.url }}">{{ child_link.title }}</a></li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  </nav>
{%- endif -%}