{%- paginate collection.products by 12 -%}
  {%- if paginate.pages > 1 -%}
    <nav class="pagination" aria-label="Pagination">
      <ul role="list">
        {%- if paginate.previous -%}
          <li><a href="{{ paginate.previous.url }}">{{ 'general.pagination.previous' | t }}</a></li>
        {%- endif -%}
        {%- for part in paginate.parts -%}
          {%- if part.is_link -%}
            <li><a href="{{ part.url }}">{{ part.title }}</a></li>
          {%- else -%}
            <li><span {% if part.title == paginate.current_page %}aria-current="page"{% endif %}>{{ part.title }}</span></li>
          {%- endif -%}
        {%- endfor -%}
        {%- if paginate.next -%}
          <li><a href="{{ paginate.next.url }}">{{ 'general.pagination.next' | t }}</a></li>
        {%- endif -%}
      </ul>
    </nav>
  {%- endif -%}
{%- endpaginate -%}